<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/CSS/about.css">
    <title>About Us</title>

</head>

<body>

    <header>

        <center>



            <div class="contenedor">

                <div class="fila">

                    <div class="span6 ">

                        <ul class="nav nav-pestañas animate__animated animate__bounceInDown animate__slower">



                            <li> <a href="../index.html"> Home</a> </li>

                            <li> <a href="./about.html"> About Us </a> </li>

                            <li> <a href="./questions.html"> Frequent Questions </a> </li>

                            <li> <a href="./contact.html"> Contact Us</a> </li>

                        </ul>
    </header>


    <center>
        <h1>About us </h1>

        <section>
            <div id="mision">
                <h1>Mision</h1>
                <hr class="barras">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quidem suscipit accusantium vel
                    veritatis debitis eum doloribus corrupti, perferendis qui, ipsa labore eveniet iusto voluptatem
                    earum, consectetur facilis aliquam. Itaque!</p>
            </div >
            <div id="vision">
                <h1>Vision</h1>
                <hr class="barras">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quidem suscipit accusantium vel
                    veritatis debitis eum doloribus corrupti, perferendis qui, ipsa labore eveniet iusto voluptatem
                    earum, consectetur facilis aliquam. Itaque!</p>

            </div >
            
            <div id="historia">
                <h1>Historia</h1>
                <hr class="barras">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quidem suscipit accusantium vel
                    veritatis debitis eum doloribus corrupti, perferendis qui, ipsa labore eveniet iusto voluptatem
                    earum, consectetur facilis aliquam. Itaque!</p>
            </div>
        </section>

        <br/>
        <br/>

        <a href="#miModal" style="margin: 0 auto;">Newsletter subscription</a>
        <div id="miModal" class="modal">
            <div class="modal-contenido">
                <a href="#" style="float:right">X</a>
                <h2>we tell you about trends</h2>
                <hr class="barras"/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quisquam amet ipsum harum! Eligendi
                    magni illo minus tempora at? Doloribus nostrum non aperiam qui expedita sapiente cupiditate ipsum
                    porro nisi!</p>
                    <br/>
                    <input type="email" name="email" paceholder="email" required />
                    <input class="btn" type="submit" name="submit" value="submit"/>
            </div>
        </div>
    </center>

</body>

<br>

<br>

<br>

<footer>
    <center>
        <p> Angélica María Jiménez Villa © 2021 </p>
    </center>

</footer>


</html>