<!DOCTYPE html>

<html lang="es">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/CSS/contact.css">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>contact us </title>

   <!--<script src="../js/sweetAlert.js"></script> -->
   <script src="../js/main.js"></script>
</head>

<body onload="start()">

    <header>

        <center>



            <div class="contenedor">

                <div class="fila">

                    <div class="span6 ">

                        <ul class="nav nav-pestañas animate__animated animate__bounceInDown animate__slower">



                            <li> <a href="../index.html"> Home</a> </li>

                            <li> <a href="./about.html"> About Us </a> </li>

                            <li> <a href="./questions.html"> Frequent Questions </a> </li>

                            <li> <a href="./contact.html"> Contact Us</a> </li>

                        </ul>
        </center>

    </header>
    <center>
        <form id="form" action="" method="">
           
            <table width=800px>
                <tr>
                    <td>
                        <label>ID identification:<span style="color: red;">*</span></label>
                    </td>
                    <td>
                        <input class="input" type="text" name="name" size="40" style="width: 80%;"
                            placeholder="type your id identification" required autofocus>
                            <span></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Complete Name:<span style="color: red;">*</span></label>
                    </td>
                    <td>
                        <input class="input" type="text" name="lastname" size="40" style="width: 80%;"
                            placeholder="type your name and last name" required>
                            <span></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@-Email:<span style="color: red;">*</span></label>
                    </td>
                    <td>
                        <input class="input" type="email" name="email" size="40" style="width: 80%;"
                            placeholder="type your email" required>
                            <span></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">Mobile:<span style="color: red;">*</span></label>
                    </td>
                    <td>
                        <input class="input" type="number" name="position" style="width: 80%;" placeholder="Mobile number"
                            required>
                            <span></span>
                    </td>

                </tr>

                <tr>
                    <td>
                        <label for="">position:<span style="color: red;">*</span></label>
                    </td>
                    <td>
                        <input class="input" type="text" name="position" style="width: 80%;" placeholder="Position"
                            required>
                            <span></span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <label for="">Field/Operation:<span style="color: red;">*</span></label>
                    </td>
                    <td>
                        <input class="input" type="text" name="operation" style="width: 80%;"
                            placeholder="type your Field/Operation" required>
                            <span></span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <label for="contactToYou">Where can we find you? :<span style="color: red;">*</span></label>
                    </td>
                    <td>

                        <select name="where" id="contactToYou" style="width: 82%;">
                            <option value="Home">Home</option>
                            <option value="Office">Office</option>
                            <option value="Cellphone">My cellphone</option>
                            <option value="email">Email</option>
                        </select>
                        <span></span>
                    </td>

                </tr>

                
                <tr>
                    <td>
                        <label for="schedule">Contact schedule :<span style="color: red;">*</span></label>
                    </td>
                    <td>

                        <select name="schedule" id="schedule" style="width: 81%;">
                            <option value="Home">Morning</option>
                            <option value="Office">noon</option>
                            <option value="Cellphone">afternoon</option>
                            
                        </select>
                        
                    </td>
                    <span></span>

                </tr>


            </table>



            <center>

                <p>

                    <input onclick="btndelete()" type="reset" id="delete" class="btn" Value="Delete" />
                   <!--<input onclick="btnsend()" type="submit" id="send" class="btn" value="Send" />--> 
                    <button type="submit" name="send">Send</button>
                </p>

            </center>


        </form>
        <a href="mailto:amjimenezv@gmail.com" id="formulario">Envio formulario</a>

        
    </center>

    <br>
    <br>
    <br>






</body>

<br>

<br>

<br>
<hr />
<footer>
    <center>
        <p> </p>

        <a href="#miModal">Angélica María Jiménez Villa © 2021</a>
        <div id="miModal" class="modal">
            <div class="modal-contenido">
                <a href="#" style="float:right">X</a>
                <center>

                    <fieldset class="introducing">
                        <legend>
                            <h2>Contact card</h2>
                        </legend>
                        <table>

                            <thead>
                                <tr></tr>
                                <tr>

                                    <th>
                                        <h3>Front end Web development</h3>
                                    </th>



                                </tr>

                            </thead>

                            <tbody>
                                <tr> <img src="../assets/img/me.png" width="150vw" /></tr>
                                <tr>
                                    <td>
                                        <p style="padding-left: 40px;"> Angélica María Jiménez Villa </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a
                                            href="https://api.whatsapp.com/send/?phone=%2B573104149920&text&app_absent=0">Contact
                                            to me </a> <img src="../assets/img/contact.png" width="10%"
                                            style="margin-right: 10px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><a href="mailto:amjimenezv@gmail.com" style="padding-left: 40px;"> Drop
                                                me some lines </a></p>
                                    </td>
                                </tr>

                            </tbody>

                        </table>

                    </fieldset>


                </center>

            </div>
        </div>
    </center>

</footer>

</html>